html {
  scrollbar-width: thin;
  -ms-overflow-style: thin;
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

body {
  user-select: none;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 12px;
}

.onlyrefNoise {
  position: relative;
}

.onlyrefNoise::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/noise.png");
  background-size: 40px 40px;
}
