html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

body {
  user-select: none;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

.onlyrefNoise {
  position: relative;
  background-image: url('/noise.png');
  background-size: 80px 80px;
}
